body {
  background-color: rgba(141, 137, 137, 0);
}

.navbar{
  padding-left: 17%;
  padding-right: 17%;
  background-color: #E7717D;
  color:white;
  
}

#index {
  margin-top: 5%;
}

.create {
  background-color: #7E685A;
  color: white;
  margin-left: 50%;
  font-size: 15px;

}

.post-card {
  height:600px;
  width:600px;
  margin-bottom: 50px;
  background-color: #c2cad062;
}

#page {
  height:600px;
  width:600px;
  background-color: #c2cad052;
}